# === Python build / cache ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === Virtual environments ===
venv/
.env/
.venv/

# === System / IDE files ===
.DS_Store
Thumbs.db
firmware_export.json
.vscode/
.idx/
test_outputs/
*.h
*.json
dist/
miniml_engine.egg-info/